<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Search_Address2_OutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Search_Address2_OutlookAddIn.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Base" serializeAs="String">
                <value>o=,dc=,dc=,dc=</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>389</value>
            </setting>
            <setting name="Filter1" serializeAs="String">
                <value>(mail={0}*)(sn;lang-en={0}*)(givenName;lang-en={0}*)(sn;lang-ja={0}*)(givenName;lang-ja={0}*)</value>
            </setting>
            <setting name="Filter2" serializeAs="String">
                <value>(&amp;(sn;lang-en={0}*)(givenName;lang-en={1}*))(&amp;(sn;lang-ja={0}*)(givenName;lang-ja={1}*))</value>
            </setting>
            <setting name="Offset_X" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Offset_Y" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxRecords" serializeAs="String">
                <value>100</value>
            </setting>
        </Search_Address2_OutlookAddIn.Properties.Settings>
    </userSettings>
</configuration>